<a href="https://colab.research.google.com/github/banshita209/Data-Science-and-Machine-Learning-with-Python/blob/master/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load the IMDb Dataset and read
# [link to the data set](https://www.kaggle.com/PromptCloudHQ/imdb-data)

In [4]:
import pandas as pd
df=pd.read_csv("/content/IMDB-Movie-Data.csv")

# View the dataset

In [5]:
df

     Rank                    Title  ... Revenue (Millions) Metascore
0       1  Guardians of the Galaxy  ...             333.13      76.0
1       2               Prometheus  ...             126.46      65.0
2       3                    Split  ...             138.12      62.0
3       4                     Sing  ...             270.32      59.0
4       5            Suicide Squad  ...             325.02      40.0
..    ...                      ...  ...                ...       ...
995   996     Secret in Their Eyes  ...                NaN      45.0
996   997          Hostel: Part II  ...              17.54      46.0
997   998   Step Up 2: The Streets  ...              58.01      50.0
998   999             Search Party  ...                NaN      22.0
999  1000               Nine Lives  ...              19.64      11.0

[1000 rows x 12 columns]

# Understand some basic information about the dataset and Inspect the dataframe Inspect the dataframe's columns, shapes, variable types etc.

In [ ]:
df.shape

(1000, 12)

In [ ]:
df.size

12000

In [ ]:
df.columnsmb

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [ ]:
df.dtypes

Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

In [ ]:
df.ndim

2

In [ ]:
df.axes

[RangeIndex(start=0, stop=1000, step=1),
 Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
        'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
        'Metascore'],
       dtype='object')]

In [ ]:
df.values

array([[1, 'Guardians of the Galaxy', 'Action,Adventure,Sci-Fi', ...,
        757074, 333.13, 76.0],
       [2, 'Prometheus', 'Adventure,Mystery,Sci-Fi', ..., 485820, 126.46,
        65.0],
       [3, 'Split', 'Horror,Thriller', ..., 157606, 138.12, 62.0],
       ...,
       [998, 'Step Up 2: The Streets', 'Drama,Music,Romance', ..., 70699,
        58.01, 50.0],
       [999, 'Search Party', 'Adventure,Comedy', ..., 4881, nan, 22.0],
       [1000, 'Nine Lives', 'Comedy,Family,Fantasy', ..., 12435, 19.64,
        11.0]], dtype=object)

In [ ]:
df.describe

<bound method NDFrame.describe of      Rank                    Title  ... Revenue (Millions) Metascore
0       1  Guardians of the Galaxy  ...             333.13      76.0
1       2               Prometheus  ...             126.46      65.0
2       3                    Split  ...             138.12      62.0
3       4                     Sing  ...             270.32      59.0
4       5            Suicide Squad  ...             325.02      40.0
..    ...                      ...  ...                ...       ...
995   996     Secret in Their Eyes  ...                NaN      45.0
996   997          Hostel: Part II  ...              17.54      46.0
997   998   Step Up 2: The Streets  ...              58.01      50.0
998   999             Search Party  ...                NaN      22.0
999  1000               Nine Lives  ...              19.64      11.0

[1000 rows x 12 columns]>

# Data Selection – Indexing and Slicing data

In [6]:
df['Title']

0      Guardians of the Galaxy
1                   Prometheus
2                        Split
3                         Sing
4                Suicide Squad
                ...
995       Secret in Their Eyes
996            Hostel: Part II
997     Step Up 2: The Streets
998               Search Party
999                 Nine Lives
Name: Title, Length: 1000, dtype: object

In [7]:
df['Rating']

0      8.1
1      7.0
2      7.3
3      7.2
4      6.2
      ...
995    6.2
996    5.5
997    6.2
998    5.6
999    5.3
Name: Rating, Length: 1000, dtype: float64

In [8]:
df['Director'].describe()

count             1000
unique             644
top       Ridley Scott
freq                 8
Name: Director, dtype: object

In [9]:
df[['Title','Genre','Description']]

                       Title  ...                                        Description
0    Guardians of the Galaxy  ...  A group of intergalactic criminals are forced ...
1                 Prometheus  ...  Following clues to the origin of mankind, a te...
2                      Split  ...  Three girls are kidnapped by a man with a diag...
3                       Sing  ...  In a city of humanoid animals, a hustling thea...
4              Suicide Squad  ...  A secret government agency recruits some of th...
..                       ...  ...                                                ...
995     Secret in Their Eyes  ...  A tight-knit team of rising investigators, alo...
996          Hostel: Part II  ...  Three American college students studying abroa...
997   Step Up 2: The Streets  ...  Romantic sparks occur between two dance studen...
998             Search Party  ...  A pair of friends embark on a mission to reuni...
999               Nine Lives  ...  A stuffy businessman finds himself trapped ins...

[1000 rows x 3 columns]

In [10]:

df.iloc[0:20,[0,1,2,3,5,6,8]]

    Rank                                    Title  ...  Year Rating
0      1                  Guardians of the Galaxy  ...  2014    8.1
1      2                               Prometheus  ...  2012    7.0
2      3                                    Split  ...  2016    7.3
3      4                                     Sing  ...  2016    7.2
4      5                            Suicide Squad  ...  2016    6.2
5      6                           The Great Wall  ...  2016    6.1
6      7                               La La Land  ...  2016    8.3
7      8                                 Mindhorn  ...  2016    6.4
8      9                       The Lost City of Z  ...  2016    7.1
9     10                               Passengers  ...  2016    7.0
10    11  Fantastic Beasts and Where to Find Them  ...  2016    7.5
11    12                           Hidden Figures  ...  2016    7.8
12    13                                Rogue One  ...  2016    7.9
13    14                                    Moana  ...  2016    7.7
14    15                                 Colossal  ...  2016    6.4
15    16                  The Secret Life of Pets  ...  2016    6.6
16    17                            Hacksaw Ridge  ...  2016    8.2
17    18                             Jason Bourne  ...  2016    6.7
18    19                                     Lion  ...  2016    8.1
19    20                                  Arrival  ...  2016    8.0

[20 rows x 7 columns]

In [11]:

df.iloc[:,0:6]

     Rank  ...                                             Actors
0       1  ...  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
1       2  ...  Noomi Rapace, Logan Marshall-Green, Michael Fa...
2       3  ...  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
3       4  ...  Matthew McConaughey,Reese Witherspoon, Seth Ma...
4       5  ...  Will Smith, Jared Leto, Margot Robbie, Viola D...
..    ...  ...                                                ...
995   996  ...  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...
996   997  ...  Lauren German, Heather Matarazzo, Bijou Philli...
997   998  ...  Robert Hoffman, Briana Evigan, Cassie Ventura,...
998   999  ...  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
999  1000  ...  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...

[1000 rows x 6 columns]

In [12]:
df.loc[0:50,['Title','Genre','Year']]

                                          Title  ...  Year
0                       Guardians of the Galaxy  ...  2014
1                                    Prometheus  ...  2012
2                                         Split  ...  2016
3                                          Sing  ...  2016
4                                 Suicide Squad  ...  2016
5                                The Great Wall  ...  2016
6                                    La La Land  ...  2016
7                                      Mindhorn  ...  2016
8                            The Lost City of Z  ...  2016
9                                    Passengers  ...  2016
10      Fantastic Beasts and Where to Find Them  ...  2016
11                               Hidden Figures  ...  2016
12                                    Rogue One  ...  2016
13                                        Moana  ...  2016
14                                     Colossal  ...  2016
15                      The Secret Life of Pets  ...  2016
16                                Hacksaw Ridge  ...  2016
17                                 Jason Bourne  ...  2016
18                                         Lion  ...  2016
19                                      Arrival  ...  2016
20                                         Gold  ...  2016
21                        Manchester by the Sea  ...  2016
22                               Hounds of Love  ...  2016
23                                       Trolls  ...  2016
24                 Independence Day: Resurgence  ...  2016
25                              Paris pieds nus  ...  2016
26                      Bahubali: The Beginning  ...  2015
27                                   Dead Awake  ...  2016
28                                     Bad Moms  ...  2016
29                             Assassin's Creed  ...  2016
30                                     Why Him?  ...  2016
31                            Nocturnal Animals  ...  2016
32                            X-Men: Apocalypse  ...  2016
33                                     Deadpool  ...  2016
34             Resident Evil: The Final Chapter  ...  2016
35                   Captain America: Civil War  ...  2016
36                                 Interstellar  ...  2014
37                               Doctor Strange  ...  2016
38                        The Magnificent Seven  ...  2016
39                                    5- 25- 77  ...  2007
40                                Sausage Party  ...  2016
41                                    Moonlight  ...  2016
42                      Don't Fuck in the Woods  ...  2016
43                                  The Founder  ...  2016
44                                    Lowriders  ...  2016
45  Pirates of the Caribbean: On Stranger Tides  ...  2011
46                                  Miss Sloane  ...  2016
47                                       Fallen  ...  2016
48                             Star Trek Beyond  ...  2016
49                                The Last Face  ...  2016
50   Star Wars: Episode VII - The Force Awakens  ...  2015

[51 rows x 3 columns]

# Data Selection – Based on Conditional filtering

In [13]:
votes = df[df['Votes']>1000000]
votes

     Rank                  Title  ... Revenue (Millions) Metascore
36     37           Interstellar  ...             187.99      74.0
54     55        The Dark Knight  ...             533.32      82.0
76     77           The Avengers  ...             623.28      69.0
80     81              Inception  ...             292.57      74.0
124   125  The Dark Knight Rises  ...             448.13      78.0
144   145       Django Unchained  ...             162.80      81.0

[6 rows x 12 columns]

In [14]:
rv = df[df['Votes'] >= 1000000]['Rating'].mean()
rv

8.566666666666666

In [15]:
rv = df[df['Votes'] >= 1000000]['Rating'].count()
rv

6

#Groupby operations

In [18]:
df_rating = df.groupby('Rating')
df_rating

In [19]:

gb = df.groupby('Director')
gb['Votes'].mean()

Director
Aamir Khan             102697.00
Abdellatif Kechiche    103150.00
Adam Leon                1031.00
Adam McKay             201706.75
Adam Shankman           83733.50
                         ...
Xavier Dolan            22109.00
Yimou Zhang             56036.00
Yorgos Lanthimos        86129.50
Zack Snyder            460308.80
Zackary Adler            1630.00
Name: Votes, Length: 644, dtype: float64

# Sorting operation

In [20]:
df_sort = df.sort_values(by=['Genre'],ascending=True)
df_sort.head()

     Rank                   Title  ... Revenue (Millions) Metascore
123   124    Boyka: Undisputed IV  ...                NaN       NaN
580   581    Kickboxer: Vengeance  ...             131.56      37.0
344   345            Spider-Man 3  ...             336.53      59.0
284   285                Hercules  ...              72.66      47.0
368   369  The Amazing Spider-Man  ...             262.03      66.0

[5 rows x 12 columns]

In [21]:

df_sort = df.sort_values(by=['Genre'],ascending=False)
df_sort.tail()

     Rank                   Title  ... Revenue (Millions) Metascore
344   345            Spider-Man 3  ...             336.53      59.0
368   369  The Amazing Spider-Man  ...             262.03      66.0
284   285                Hercules  ...              72.66      47.0
580   581    Kickboxer: Vengeance  ...             131.56      37.0
123   124    Boyka: Undisputed IV  ...                NaN       NaN

[5 rows x 12 columns]

# Dealing with missing values

In [22]:

df.count()

Rank                  1000
Title                 1000
Genre                 1000
Description           1000
Director              1000
Actors                1000
Year                  1000
Runtime (Minutes)     1000
Rating                1000
Votes                 1000
Revenue (Millions)     872
Metascore              936
dtype: int64

In [25]:
df[0:5]

   Rank                    Title  ... Revenue (Millions) Metascore
0     1  Guardians of the Galaxy  ...             333.13      76.0
1     2               Prometheus  ...             126.46      65.0
2     3                    Split  ...             138.12      62.0
3     4                     Sing  ...             270.32      59.0
4     5            Suicide Squad  ...             325.02      40.0

[5 rows x 12 columns]

In [23]:
nomiss = df['Runtime (Minutes)'].fillna(0)
nomiss.isnull().any()

False

In [24]:
nomiss = df['Rating'].fillna(0)
nomiss.isnull().any()

False

In [26]:
nomiss = df['Votes'].fillna(0)
nomiss.isnull().any()

False

In [27]:

df[['Rating','Runtime (Minutes)','Revenue (Millions)','Votes','Metascore']].sum()

Rating                6.723200e+03
Runtime (Minutes)     1.131720e+05
Revenue (Millions)    7.233796e+04
Votes                 1.698083e+08
Metascore             5.521000e+04
dtype: float64

# Dropping columns and null values

In [28]:
df = df.dropna(axis=1)
df

     Rank                    Title  ... Rating   Votes
0       1  Guardians of the Galaxy  ...    8.1  757074
1       2               Prometheus  ...    7.0  485820
2       3                    Split  ...    7.3  157606
3       4                     Sing  ...    7.2   60545
4       5            Suicide Squad  ...    6.2  393727
..    ...                      ...  ...    ...     ...
995   996     Secret in Their Eyes  ...    6.2   27585
996   997          Hostel: Part II  ...    5.5   73152
997   998   Step Up 2: The Streets  ...    6.2   70699
998   999             Search Party  ...    5.6    4881
999  1000               Nine Lives  ...    5.3   12435

[1000 rows x 10 columns]

# Apply( ) functions

In [29]:
df.head()

   Rank                    Title  ... Rating   Votes
0     1  Guardians of the Galaxy  ...    8.1  757074
1     2               Prometheus  ...    7.0  485820
2     3                    Split  ...    7.3  157606
3     4                     Sing  ...    7.2   60545
4     5            Suicide Squad  ...    6.2  393727

[5 rows x 10 columns]

In [31]:
import numpy as np
total_runtime = df['Runtime (Minutes)'].apply(np.sum)
print("Total runtime of all movies: ",total_runtime)

Total runtime of all movies:  0      121
1      124
2      117
3      108
4      123
      ...
995    111
996     94
997     98
998     93
999     87
Name: Runtime (Minutes), Length: 1000, dtype: int64