<a href="https://colab.research.google.com/github/banshita209/banshita209-Data-Science-and-Machine-Learning-with-Python/blob/master/class4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

tuple:

---

tuple is immmutable .
you can not add or delete once creating..

In [ ]:
t=('a','b','c','d','e','f')
print(t)
print(t[0])
print(len(t))

('a', 'b', 'c', 'd', 'e', 'f')
a
6

we can not delete data once adding

In [ ]:
del t[2]

TypeError: ignored

In [ ]:
t1=(1,2,'tuple')
print(t1)

(1, 2, 'tuple')

In [ ]:

type(t1)

tuple

### **Dictionary**

---
key value pair data type , unordered key value pair

In [ ]:
#dict() is used to create 
d=dict({'red':1,'green':2,'blue':3})
print(type(d))
print(d)

<class 'dict'>
{'red': 1, 'green': 2, 'blue': 3}

In [ ]:
l1=['red','green','blue']
l2=[1,2,3]
d=dict(zip(l1,l2))
d

{'blue': 3, 'green': 2, 'red': 1}

In [ ]:
for i in d:
  print(i)
  print(d[i])

red
1
green
2
blue
3

In [ ]:

#get function returns the value of given key
d.get('blue')

3

In [ ]:
#changing the value of a particular key
d['blue']=300
print(d)

{'red': 1, 'green': 2, 'blue': 300}

In [ ]:

#we can not updae key, so we can add more keys and remove older keys
#here we added new key orange
d['orange']=100
print(d)

{'red': 1, 'green': 2, 'blue': 300, 'orange': 100}

In [ ]:
p={10:'hello',20:'banshita'}
print(d)
print(p)

{'red': 1, 'green': 2, 'blue': 300, 'orange': 100}
{10: 'hello', 20: 'banshita'}

In [ ]:
#combining 2 dict 
#we used update fun to add dict 'p' into d
d.update(p)
print(d)

{'red': 1, 'green': 2, 'blue': 300, 'orange': 100, 10: 'hello', 20: 'banshita'}

In [ ]:
len(d)

6

In [ ]:

#removing item form d
# after dleting pop function returns that value of given key and remove the key-value pair
d.pop('red')

1

In [ ]:
print(d)

{'green': 2, 'blue': 300, 10: 'hello', 20: 'banshita'}

In [ ]:
#reverse a dict
k=d.keys()
print(k)

dict_keys(['green', 'blue', 10, 20])

## Set


*   used for unique values, must have unique value 
*

In [ ]:
s={1,2,3,4,5}
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
s1=set(['a','b','c'])
print(s1)
print(type(s1))

{'a', 'b', 'c'}
<class 'set'>

In [ ]:
#making a set with duplicate values
s={1,2,4,5,5,6,3,5,2}
print(s)

#only consider unique values

{1, 2, 3, 4, 5, 6}

In [ ]:
s.remove(1)
print(s)

{2, 3, 4, 5, 6}

In [ ]:
set = frozenset([1,2,3,4,5])
print(type(set))

<class 'frozenset'>