<a href="https://colab.research.google.com/github/banshita209/Data-Science-and-Machine-Learning-with-Python/blob/master/class9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Handling missing value in pandas
* fillna
* replace
* interpolate

[data set link](https://drive.google.com/file/d/1VGCYD0qcmUVD5LcXF1ZLPyUlF5VwmRFX/view)

In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("/content/student_data.csv")
df

   Id    CS  Math        Name
0   1  50.0  46.0     Average
1   2   NaN  70.0        Good
2   3  88.0   NaN  Execellent
3   4   NaN  74.0         NaN
4   5  63.0   NaN     Average
5   6   NaN   NaN  Execellent
6   7   NaN   NaN         NaN
7   8  53.0  45.0     Average
8   9  60.0  62.0        Good
9  10  55.0  65.0        Good

In [4]:
# fill all null value with zer0
df.fillna(0)

   Id    CS  Math        Name
0   1  50.0  46.0     Average
1   2   0.0  70.0        Good
2   3  88.0   0.0  Execellent
3   4   0.0  74.0           0
4   5  63.0   0.0     Average
5   6   0.0   0.0  Execellent
6   7   0.0   0.0           0
7   8  53.0  45.0     Average
8   9  60.0  62.0        Good
9  10  55.0  65.0        Good

In [6]:
#here value will according to mention dict
#for example : CS column will be filled with 0, Math will be filled with 0, and anem will be filled with no category
new_df=df.fillna({
    'CS':0,
    'Math':0,
    'Name':'No Catrgory'
})

new_df

   Id    CS  Math         Name
0   1  50.0  46.0      Average
1   2   0.0  70.0         Good
2   3  88.0   0.0   Execellent
3   4   0.0  74.0  No Catrgory
4   5  63.0   0.0      Average
5   6   0.0   0.0   Execellent
6   7   0.0   0.0  No Catrgory
7   8  53.0  45.0      Average
8   9  60.0  62.0         Good
9  10  55.0  65.0         Good

In [ ]:
#fill according to pervious column or row
#