<a href="https://colab.research.google.com/github/banshita209/banshita209-Data-Science-and-Machine-Learning-with-Python/blob/master/class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List.**

1.   data structure, heterogeneous type 
immutable

In [ ]:
l1=[1,2,3,4]
l2=['apple','orange','banana','mango']

#list function
t=(1,2,3) #tuple
l3=list(t) #using list it convert tuple to list
print(l3)

[1, 2, 3]

In [ ]:
l=[] #created a empty list 
n=int(input("enter no of elements"))
for i in range(n):
  item=input("enter element")
  l.append(item) #append fun which end item at the end of the list
  print(l)
#by default python take every input as a string

enter no of elements5
enter element21
['21']
enter element34
['21', '34']
enter element54
['21', '34', '54']
enter element56
['21', '34', '54', '56']
enter element23
['21', '34', '54', '56', '23']

Assessing element of list:

In [ ]:
l[0] #first element

'21'

In [ ]:
l[-1] #end of the list

'23'

In [ ]:
l[2:4] #slicing

['54', '56']

In [ ]:
l.insert(2,'ml')
print(l)

['21', '34', 'ml', '54', '56', '23']

In [ ]:
l=[10,20,['a','b','c'],50]
print(l)

[10, 20, ['a', 'b', 'c'], 50]

In [ ]:
print(l[2][0])

a

In [ ]:
l=[10,20,30,40,50,30]
l.remove(30) #remove the first occurence of  given value
print(l)

[10, 20, 40, 50, 30]

In [ ]:
l=[10,20,30,40,50,30]
l.pop(1) #remove the value of given index
print(l)
#pop function return the deleted value. it deletes using index

[10, 30, 40, 50, 30]

In [ ]:
l=[10,20,30,40,50,30]
del l[0] #remove the value of given index using del finction it can delete entire list
print(l)

[20, 30, 40, 50, 30]

In [ ]:
l=[10,20,30,40,50,30]
l.clear #clears the entire list
print(l)

In [ ]:
l=[10,20,30,40,50,30]
l.count(30)

2